<Session class="contact-Fact">
    <div id="social-right-fixed">
        <a href="" target="_blank"><i class="colorIcon fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#" target="_blank"><i class="colorIcon fa fa-youtube"></i></a>
        <a href="" onclick="showPopup('popup-lien-he');"><i class="colorIcon fa fa-envelope-o" aria-hidden="true"></i></a>
        <a href="" onclick="showPopup('popup-address');"><i class="colorIcon fa fa-phone" aria-hidden="true"></i></a>
        <a href="" rel="nofollow" alt="Phiên bản Mobile"><i class=" colorIcon colorIcon_icons fa fa-mobile" aria-hidden="true"></i></a>
    </div>
    <style>
        .contact-Fact {
            position: fixed;
            right: 3px;
            top: 35%;
            z-index: 99;
        }

        i.colorIcon.fa.fa-facebook{
            color: #fff;
            background: #3b5998;
        }

        i.colorIcon.fa.fa-youtube {
            color: #fff;
            background: #cf2200;
        }

        i.colorIcon.fa-mobile{
            font-size: 40px!important;
            color: #fff;
            background: #de0001;
        }

        i.colorIcon.fa-envelope-o{
            color: #fff;
            background: #ff7e00;
        }

        i.colorIcon.fa.fa-phone{
            color: #fff;
            background: #ed1c24;
        }

        #social-right-fixed a i {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            font-size: 30px;
            align-items: center;
            
        }

        #social-right-fixed a {
            margin: 2px;
        }

        div#social-right-fixed {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {

        })
    </script>
</Session>