<footer id="footer" class="footer-wrapper">
    <div class="footer-widgets footer footer-1">
        <div class="row dark large-columns-3 mb-0">
            <div id="block_widget-3" class="col pb-0 widget block_widget">
                <span class="widget-title">VỀ CHÚNG TÔI</span>
                <div class="is-divider small"></div>
                C.ty TNHH Công Nghệ Truyền Thông Ez Media </br> • Mã số thuế: 0111111111</br> • Người đại
                diện pháp luật: </br> • Giấy phép hoạt động cấp ngày: 21/03/2019</br> •
                Hotline/Zalo: 0111111111
            </div>
            <div id="media_image-2" class="col pb-0 widget widget_media_image">
                <span class="widget-title">THỊ TRƯỜNG</span>
                <div class="is-divider small"></div>
                <img width="219" height="212" src="../wp-content/uploads/2020/04/heThongP_636058326944779353.png"
                    class="image wp-image-2969 attachment-full size-full" alt="" style="max-width: 100%; height: auto;"
                    data-lazy-src="../wp-content/uploads/2020/04/heThongP_636058326944779353.png" />
                <noscript>
                    <img width="219" height="212" src="../wp-content/uploads/2020/04/heThongP_636058326944779353.png"
                        class="image wp-image-2969 attachment-full size-full" alt=""
                        style="max-width: 100%; height: auto;" /></noscript>
            </div>
            <div id="search-3" class="col pb-0 widget widget_search">
                <span class="widget-title">Tìm kiếm trong trang</span>
                <div class="is-divider small"></div>
                <form method="get" class="searchform" action="" role="search">
                    <div class="flex-row relative">
                        <div class="flex-col flex-grow"> <input type="search" class="search-field mb-0" name="s"
                                value="" id="s" placeholder="Tìm kiếm..." /></div>
                        <div class="flex-col"> <button type="submit"
                                class="ux-search-submit submit-button secondary button icon mb-0" aria-label="Submit">
                                <i class="icon-search"></i> </button></div>
                    </div>
                    <div class="live-search-results text-left z-top"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="absolute-footer dark medium-text-center text-center">
        <div class="container clearfix">
            <div class="footer-primary pull-left">
                <div class="copyright-footer">
                    <br /><a href="">Trang chủ</a> - <a href="huong-dan-thanh-toan/">Thanh toán</a> - <a
                        href="lien-he/">Liên hệ</a><br />Copyright 2019 © <a href=""
                        title=" Giải pháp marketing online toàn diện">Ezmedia.vn</a> - All rights reserved.
                    <br />
                    <a href="" title="DMCA.com Protection Status" class="dmca-badge">
                        <img src="../wp-content/uploads/2020/04/dmca-badge-w200-5x1-10.png"
                            alt="DMCA.com Protection Status"
                            data-lazy-src="../wp-content/uploads/2020/04/dmca-badge-w200-5x1-10.png">
                        <noscript><img src="../wp-content/uploads/2020/04/dmca-badge-w200-5x1-10.png"
                                alt="DMCA.com Protection Status"></noscript>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <a href="#top" class="back-to-top button icon invert plain fixed bottom z-1 is-outline hide-for-medium circle"
        id="top-link"><i class="icon-angle-up"></i></a>
</footer>