    <header id="header" class="header has-sticky sticky-shrink">
        <div class="header-wrapper">
            <div id="top-bar" class="header-top hide-for-sticky nav-dark hide-for-medium">
                <div class="flex-row container">
                    <div class="flex-col hide-for-medium flex-left">
                        <ul class="nav nav-left medium-nav-center nav-small nav-">
                            <li class="html custom html_topbar_left">Công Ty TNHH Công Nghệ Truyền Thông EZMEDIA
                            </li>
                        </ul>
                    </div>
                    <div class="flex-col hide-for-medium flex-center">
                        <ul class="nav nav-center nav-small nav-"></ul>
                    </div>
                    <div class="flex-col hide-for-medium flex-right">
                        <ul class="nav top-bar-nav nav-right nav-small nav-">
                            <li class="header-contact-wrapper">
                                <ul id="header-contact" class="nav nav-divided nav-uppercase header-contact">
                                    <li class="">
                                        <a target="_blank" rel="noopener noreferrer" href="" title="Hi" class="tooltip">
                                            <i class="icon-map-pin-fill" style="font-size:16px;"></i>
                                            <span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="mailto:Hi@gmail.com" class="tooltip" title="Hi@gmail.com">
                                            <i class="icon-envelop" style="font-size:16px;"></i>
                                            <span> </span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a class="tooltip"
                                            title="08:30 - 22:30 | Làm việc tất cả các ngày trong tuần. Hỗ trợ sự cố 24/7. ">
                                            <i class="icon-clock" style="font-size:16px;"></i>
                                            <span></span>
                                        </a>
                                    </li>
                                    <li class=""> <a href="tel:0123456" class="tooltip" title="0123456">
                                            <i class="icon-phone" style="font-size:16px;"></i> <span></span>
                                        </a></li>
                                </ul>
                            </li>
                            <li
                                class="header-search header-search-dropdown has-icon has-dropdown menu-item-has-children">
                                <a href="#" aria-label="Search" class="is-small">
                                    <i class="icon-search"></i>
                                </a>
                                <ul class="nav-dropdown nav-dropdown-bold dropdown-uppercase">
                                    <li class="header-search-form search-form html relative has-icon">
                                        <div class="header-search-form-wrapper">
                                            <div class="searchform-wrapper ux-search-box relative is-normal">
                                                <form method="get" class="searchform" action="" role="search">
                                                    <div class="flex-row relative">
                                                        <div class="flex-col flex-grow"> <input type="search"
                                                                class="search-field mb-0" name="s" value="" id="s"
                                                                placeholder="Tìm kiếm..." /></div>
                                                        <div class="flex-col"> <button type="submit"
                                                                class="ux-search-submit submit-button secondary button icon mb-0"
                                                                aria-label="Submit"> <i class="icon-search"></i>
                                                            </button></div>
                                                    </div>
                                                    <div class="live-search-results text-left z-top"></div>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="masthead" class="header-main ">
                <div class="header-inner flex-row container logo-left medium-logo-center" role="navigation">
                    <div id="logo" class="flex-col logo">
                        <a href="" title="Giải pháp Marketing toàn diện" rel="home">
                            <img width="295" height="109"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20295%20109'%3E%3C/svg%3E"
                                class="header_logo header-logo" alt="Giải pháp Marketing toàn diện"
                                data-lazy-src="../wp-content/uploads/2020/04/logo-ezmedia.jpg">
                            <noscript><img width="295" height="109" src="../wp-content/uploads/2020/04/logo-ezmedia.jpg"
                                    class="header_logo header-logo" alt="Giải pháp Marketing toàn diện"></noscript>
                            <img width="295" height="109"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20295%20109'%3E%3C/svg%3E"
                                class="header-logo-dark" alt="Giải pháp Marketing toàn diện"
                                data-lazy-src="../wp-content/uploads/2020/04/logo-ezmedia.jpg">
                            <noscript><img width="295" height="109" src="../wp-content/uploads/2020/04/logo-ezmedia.jpg"
                                    class="header-logo-dark" alt="Giải pháp Marketing toàn diện"></noscript>
                        </a>
                    </div>
                    <div class="flex-col show-for-medium flex-left">
                        <ul class="mobile-nav nav nav-left "></ul>
                    </div>
                    <div class="flex-col hide-for-medium flex-left flex-grow">
                        <ul
                            class="header-nav header-nav-main nav nav-left nav-line-bottom nav-size-large nav-spacing-large nav-uppercase">
                        </ul>
                    </div>
                    <div class="flex-col hide-for-medium flex-right">
                        <ul
                            class="header-nav header-nav-main nav nav-right nav-line-bottom nav-size-large nav-spacing-large nav-uppercase">
                            <li id="menu-item-1766"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1766 has-dropdown">
                                <a href="/dich-vu-facebook" class="nav-top-link">Facebook<i
                                        class="icon-angle-down"></i></a>
                                <ul class="sub-menu nav-dropdown nav-dropdown-bold dropdown-uppercase">
                                    <li id="menu-item-2321"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2321">
                                        <a href="/dich-vu-bao-ve-nick-facebook">Bảo Mật Tài Khoản</a></li>
                                    <li id="menu-item-751"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-751">
                                        <a href="/tang-follow-facebook-tang-sub-facebook">Tăng follow
                                            Facebook</a></li>
                                    <li id="menu-item-2358"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2358">
                                        <a href="/tang-like-fanpage-facebook">Tăng Like Fanpage</a></li>
                                    <li id="menu-item-4277"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4277">
                                        <a href="/mua-fanpage-facebook-gia-re">Mua FanPage</a></li>
                                    <li id="menu-item-4295"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4295">
                                        <a href="/mua-fanpage-tich-xanh-facebook-gia-re">FanPage Tích Xanh</a>
                                    </li>
                                    <li id="menu-item-4215"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4215">
                                        <a href="/dich-vu-rip-nick-khoa-nick-facebook">Khóa nick facebook</a>
                                    </li>
                                    <li id="menu-item-2954"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2954">
                                        <a href="/cach-loc-ban-be-khong-tuong-tac-facebook">Lọc Bạn Bè/Kéo Tương
                                            Tác</a></li>
                                    <li id="menu-item-749"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-749">
                                        <a href="/tang-like">Tăng like bài viết (Bảo trì)</a></li>
                                    <li id="menu-item-2553"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2553">
                                        <a href="/tang-seeding-bai-viet-facebook">Seeding Bài Viết (Bảo trì)</a>
                                    </li>
                                    <li id="menu-item-747"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-747">
                                        <a href="/tang-nguoi-xem-livestream-facebook">Tăng Mắt Live Stream (Bảo
                                            trì)</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-2105"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2105 has-dropdown">
                                <a class="nav-top-link">Youtube<i class="icon-angle-down"></i></a>
                                <ul class="sub-menu nav-dropdown nav-dropdown-bold dropdown-uppercase">
                                    <li id="menu-item-2106"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2106">
                                        <a href="/tang-view-youtube-mua-view-youtube">Tăng View Youtube</a></li>
                                    <li id="menu-item-2303"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2303">
                                        <a href="/tang-sub-youtube-mua-sub-youtube">Tăng Sub Youtube</a></li>
                                    <li id="menu-item-2411"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2411">
                                        <a href="/tang-4000-gio-xem-video-youtube">Tăng 4000 Giờ Xem</a></li>
                                    <li id="menu-item-4378"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4378">
                                        <a href="/mua-kenh-youtube-da-bat-kiem-tien">Bán Kênh Đã BKT</a></li>
                                    <li id="menu-item-3671"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3671">
                                        <a href="/tang-comment-binh-luan-youtube">Tăng Bình Luận (Bảo Trì)</a>
                                    </li>
                                    <li id="menu-item-3491"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3491">
                                        <a href="/dich-vu-tang-like-youtube">Tăng like video (Bảo trì)</a></li>
                                    <li id="menu-item-2304"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2304">
                                        <a>Tăng Xem Công Chiếu (Bảo trì)</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-2997"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2997 has-dropdown">
                                <a class="nav-top-link">Instagram<i class="icon-angle-down"></i></a>
                                <ul class="sub-menu nav-dropdown nav-dropdown-bold dropdown-uppercase">
                                    <li id="menu-item-2998"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2998">
                                        <a href="/tang-follow-instagram">Tăng Follow Instagram</a></li>
                                    <li id="menu-item-3745"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3745">
                                        <a href="/tang-like-instagram">Tăng Like Tháng Instagram</a></li>
                                    <li id="menu-item-3105"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3105">
                                        <a href="/tang-like-instagram">Tăng Like Post Lẻ</a></li>
                                    <li id="menu-item-3024"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3024">
                                        <a href="/tang-view-video-instagram">Tăng View Instagram</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-2416"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2416 has-dropdown">
                                <a class="nav-top-link">Tik Tok<i class="icon-angle-down"></i></a>
                                <ul class="sub-menu nav-dropdown nav-dropdown-bold dropdown-uppercase">
                                    <li id="menu-item-2417"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2417">
                                        <a href="/tang-follow-tiktok">Tăng Follow Tik tok</a></li>
                                    <li id="menu-item-3113"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3113">
                                        <a href="/tang-view-tik-tok">Tăng View Tik tok</a></li>
                                    <li id="menu-item-3216"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3216">
                                        <a href="/tang-like-tym-tik-tok">Tăng Like Tik tok</a></li>
                                    <li id="menu-item-3811"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3811">
                                        <a href="/mua-nick-tik-tok-2">Mua Nick Tik Tok</a></li>
                                    <li id="menu-item-3975"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3975">
                                        <a href="/tich-xanh-tik-tok">Tài Khoản Tích Xanh Tik tok</a></li>
                                    <li id="menu-item-4477"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4477">
                                        <a href="/tang-mat-xem-live-stream-tik-tok">Tăng Mắt Live Stream Tik tok
                                            (Chưa có)</a></li>
                                    <li id="menu-item-4480"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4480">
                                        <a href="/chay-quang-cao-tik-tok">Quảng cáo tik tok ads (Chưa có)</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-2222"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2222 has-dropdown">
                                <a class="nav-top-link">Shopee<i class="icon-angle-down"></i></a>
                                <ul class="sub-menu nav-dropdown nav-dropdown-bold dropdown-uppercase">
                                    <li id="menu-item-4490"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4490">
                                        <a href="/tang-follow-shopee">Tăng follow shopee</a></li>
                                    <li id="menu-item-2223"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2223">
                                        <a href="/tang-mat-xem-livestream-shopee">Tăng Mắt Live Stream (Bảo
                                            trì)</a></li>
                                    <li id="menu-item-2307"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2307">
                                        <a>Tăng Vote (Sắp mở)</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="flex-col show-for-medium flex-right">
                        <ul class="mobile-nav nav nav-right ">
                            <li class="nav-icon has-icon">
                                <div class="header-button"> <a href="#" data-open="#main-menu" data-pos="right"
                                        data-bg="main-menu-overlay" data-color="dark"
                                        class="icon button round is-outline is-small" aria-label="Menu"
                                        aria-controls="main-menu" aria-expanded="false"> <i class="icon-menu"></i> <span
                                            class="menu-title uppercase hide-for-small">Menu</span> </a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-bg-container fill">
                <div class="header-bg-image fill"></div>
                <div class="header-bg-color fill"></div>
            </div>
        </div>
    </header>

    