<div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
    <div class="sidebar-menu no-scrollbar ">
        <ul class="nav nav-sidebar nav-vertical nav-uppercase">
            <li class="header-search-form search-form html relative has-icon">
                <div class="header-search-form-wrapper">
                    <div class="searchform-wrapper ux-search-box relative is-normal">
                        <form method="get" class="searchform" action="" role="search">
                            <div class="flex-row relative">
                                <div class="flex-col flex-grow"> <input type="search" class="search-field mb-0"
                                        name="s" value="" id="s" placeholder="Tìm kiếm..." /></div>
                                <div class="flex-col"> <button type="submit"
                                        class="ux-search-submit submit-button secondary button icon mb-0"
                                        aria-label="Submit"> <i class="icon-search"></i> </button></div>
                            </div>
                            <div class="live-search-results text-left z-top"></div>
                        </form>
                    </div>
                </div>
            </li>
            <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1766">
            <a href="dich-vu-facebook/">Sản Phẩm</a>
            <ul class="sub-menu nav-sidebar-ul children">
                <%
                category.forEach((item)=>{ %>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2321"><a href="/san-pham/<%-item.slug%>"><%=item.name%></a></li></li>
                <% })
                %>  
            </ul>
        </li>
            <li
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1766">
                <a href="dich-vu-facebook/">Facebook</a>
                <ul class="sub-menu nav-sidebar-ul children">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2321"><a
                            href="dich-vu-bao-ve-nick-facebook/">Bảo Mật Tài Khoản</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-751"><a
                            href="tang-follow-facebook-tang-sub-facebook/">Tăng follow Facebook</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2358"><a
                            href="tang-like-fanpage-facebook/">Tăng Like Fanpage</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4277"><a
                            href="mua-fanpage-facebook-gia-re/">Mua FanPage</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4295"><a
                            href="mua-fanpage-tich-xanh-facebook-gia-re/">FanPage Tích Xanh</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4215"><a
                            href="dich-vu-rip-nick-khoa-nick-facebook/">Khóa nick facebook</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2954"><a
                            href="cach-loc-ban-be-khong-tuong-tac-facebook/">Lọc Bạn Bè/Kéo Tương Tác</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-749"><a
                            href="tang-like">Tăng like bài viết (Bảo trì)</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2553"><a
                            href="tang-seeding-bai-viet-facebook/">Seeding Bài Viết (Bảo trì)</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-747"><a
                            href="tang-nguoi-xem-livestream-facebook">Tăng Mắt Live Stream (Bảo trì)</a></li>
                </ul>
            </li>
            <li
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2105">
                <a>Youtube</a>
                <ul class="sub-menu nav-sidebar-ul children">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2106"><a
                            href="tang-view-youtube-mua-view-youtube/">Tăng View Youtube</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2303"><a
                            href="tang-sub-youtube-mua-sub-youtube/">Tăng Sub Youtube</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2411"><a
                            href="tang-4000-gio-xem-video-youtube/">Tăng 4000 Giờ Xem</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4378"><a
                            href="mua-kenh-youtube-da-bat-kiem-tien/">Bán Kênh Đã BKT</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3671"><a
                            href="tang-comment-binh-luan-youtube/">Tăng Bình Luận (Bảo Trì)</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3491"><a
                            href="dich-vu-tang-like-youtube/">Tăng like video (Bảo trì)</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2304"><a>Tăng
                            Xem Công Chiếu (Bảo trì)</a></li>
                </ul>
            </li>
            <li
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2997">
                <a>Instagram</a>
                <ul class="sub-menu nav-sidebar-ul children">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2998"><a
                            href="tang-follow-instagram/">Tăng Follow Instagram</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3745"><a
                            href="tang-like-instagram/">Tăng Like Tháng Instagram</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3105"><a
                            href="tang-like-instagram/">Tăng Like Post Lẻ</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3024"><a
                            href="tang-view-video-instagram/">Tăng View Instagram</a></li>
                </ul>
            </li>
            <li
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2416">
                <a>Tik Tok</a>
                <ul class="sub-menu nav-sidebar-ul children">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2417"><a
                            href="tang-follow-tiktok/">Tăng Follow Tik tok</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3113"><a
                            href="tang-view-tik-tok/">Tăng View Tik tok</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3216"><a
                            href="tang-like-tym-tik-tok/">Tăng Like Tik tok</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3811"><a
                            href="mua-nick-tik-tok-2/">Mua Nick Tik Tok</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3975"><a
                            href="tich-xanh-tik-tok/">Tài Khoản Tích Xanh Tik tok</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4477"><a
                            href="tang-mat-xem-live-stream-tik-tok/">Tăng Mắt Live Stream Tik tok (Chưa có)</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4480"><a
                            href="chay-quang-cao-tik-tok/">Quảng cáo tik tok ads (Chưa có)</a></li>
                </ul>
            </li>
            <li
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2222">
                <a>Shopee</a>
                <ul class="sub-menu nav-sidebar-ul children">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4490"><a
                            href="tang-follow-shopee/">Tăng follow shopee</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2223"><a
                            href="tang-mat-xem-livestream-shopee/">Tăng Mắt Live Stream (Bảo trì)</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2307"><a>Tăng
                            Vote (Sắp mở)</a></li>
                </ul>
            </li>
            <li class="html header-social-icons ml-0">
                <div class="social-icons follow-icons"><a href="#" target="_blank" data-label="Facebook"
                        rel="noopener noreferrer nofollow" class="icon button circle is-outline facebook tooltip"
                        title="Follow on Facebook"><i class="icon-facebook"></i></a><a href="#" target="_blank"
                        rel="noopener noreferrer nofollow" data-label="Instagram"
                        class="icon button circle is-outline instagram tooltip" title="Follow on Instagram"><i
                            class="icon-instagram"></i></a><a href="mailto:" data-label="E-mail" rel="nofollow"
                        class="icon button circle is-outline email tooltip" title="Send us an email"><i
                            class="icon-envelop"></i></a><a href="tel:" target="_blank" data-label="Phone"
                        rel="noopener noreferrer nofollow" class="icon button circle is-outline phone tooltip"
                        title="Call us"><i class="icon-phone"></i></a><a href="#" target="_blank"
                        rel="noopener noreferrer nofollow" data-label="YouTube"
                        class="icon button circle is-outline youtube tooltip" title="Follow on YouTube"><i
                            class="icon-youtube"></i></a></div>
            </li>
        </ul>
    </div>
</div>