<!DOCTYPE html> <!--[if IE 9 ]> 
    <html lang="vi-VN" prefix="og: http://ogp.me/ns#" class="ie9 loading-site no-js">
       <![endif]--> <!--[if IE 8 ]> 
       <html lang="vi-VN" prefix="og: http://ogp.me/ns#" class="ie8 loading-site no-js">
          <![endif]--> <!--[if (gte IE 9)|!(IE)]><!-->
          <html lang="vi-VN" prefix="og: http://ogp.me/ns#" class="loading-site no-js">
             <!--<![endif]-->
             <head>
                <meta charset="UTF-8" />
                <link rel="profile" href="https://gmpg.org/xfn/11" />
                <link rel="pingback" href="xmlrpc.php" />
                <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
                <title>Lưu trữ Tin tức - Giải pháp Marketing toàn diện</title>
                <link rel="stylesheet" href="wp-content/cache/min/1/93b02e851e24401ab60736a12404b29d.css" data-minify="1" />
                <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
                <link rel="canonical" href="chuyen-muc/tin-tuc/" />
                <link rel="next" href="chuyen-muc/tin-tuc/page/2/" />
                <meta property="og:locale" content="vi_VN">
                <meta property="og:type" content="object">
                <meta property="og:title" content="Lưu trữ Tin tức - Giải pháp Marketing toàn diện">
                <meta property="og:url" content="chuyen-muc/tin-tuc/">
                <meta property="og:site_name" content="Giải pháp Marketing toàn diện">
                <meta name="twitter:card" content="summary_large_image">
                <meta name="twitter:title" content="Lưu trữ Tin tức - Giải pháp Marketing toàn diện">
                <link rel='dns-prefetch' href='//fonts.googleapis.com' />
                <link rel="alternate" type="application/rss+xml" title="Dòng thông tin Giải pháp Marketing toàn diện &raquo;" href="feed/" />
                <link rel="alternate" type="application/rss+xml" title="Dòng phản hồi Giải pháp Marketing toàn diện &raquo;" href="comments/feed/" />
                <link rel="alternate" type="application/rss+xml" title="Dòng thông tin chuyên mục Giải pháp Marketing toàn diện &raquo; Tin tức" href="chuyen-muc/tin-tuc/feed/" />
                <style type="text/css">img.wp-smiley,img.emoji{display:inline!important;border:none!important;box-shadow:none!important;height:1em!important;width:1em!important;margin:0 .07em!important;vertical-align:-0.1em!important;background:none!important;padding:0!important}</style>
                <link rel='stylesheet' id='flatsome-googlefonts-css' href='//fonts.googleapis.com/css?family=Roboto%3Aregular%2C500%2Cregular%2C500%7CDancing+Script%3Aregular%2Cdefault&#038;display=swap&#038;ver=3.9' type='text/css' media='all' />
                <style id='rocket-lazyload-inline-css' type='text/css'>.rll-youtube-player{position:relative;padding-bottom:56.23%;height:0;overflow:hidden;max-width:100%}.rll-youtube-player iframe{position:absolute;top:0;left:0;width:100%;height:100%;z-index:100;background:0 0}.rll-youtube-player img{bottom:0;display:block;left:0;margin:auto;max-width:100%;width:100%;position:absolute;right:0;top:0;border:none;height:auto;cursor:pointer;-webkit-transition:.4s all;-moz-transition:.4s all;transition:.4s all}.rll-youtube-player img:hover{-webkit-filter:brightness(75%)}.rll-youtube-player .play{height:72px;width:72px;left:50%;top:50%;margin-left:-36px;margin-top:-36px;position:absolute;background:url(wp-content/plugins/wp-rocket/assets/img/youtube.png) no-repeat;cursor:pointer}</style>
                <link rel='stylesheet' id='contactus.fa.css-css' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css?ver=1.7.9' type='text/css' media='all' />
                <link rel='https://api.w.org/' href='wp-json/' />
                <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc.php?rsd" />
                <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" />
                <meta name="generator" content="WordPress 5.4.1" />
                <style>.bg{opacity:0;transition:opacity 1s;-webkit-transition:opacity 1s}.bg-loaded{opacity:1}</style>
                <link rel="icon" href="wp-content/uploads/2019/03/12-61x60.png" sizes="32x32" />
                <link rel="icon" href="wp-content/uploads/2019/03/12.png" sizes="192x192" />
                <link rel="apple-touch-icon" href="wp-content/uploads/2019/03/12.png" />
                <meta name="msapplication-TileImage" content="wp-content/uploads/2019/03/12.png" />
                <style id="custom-css" type="text/css">:root{--primary-color:#1e73be}html{background-color:#ffffff!important}.full-width .ubermenu-nav,.container,.row{max-width:1170px}.row.row-collapse{max-width:1140px}.row.row-small{max-width:1162.5px}.row.row-large{max-width:1200px}.header-main{height:109px}#logo img{max-height:109px}#logo{width:295px}.header-bottom{min-height:41px}.header-top{min-height:20px}.transparent .header-main{height:56px}.transparent #logo img{max-height:56px}.has-transparent+.page-title:first-of-type,.has-transparent+#main>.page-title,.has-transparent+#main>div>.page-title,.has-transparent+#main .page-header-wrapper:first-of-type .page-title{padding-top:86px}.header.show-on-scroll,.stuck .header-main{height:64px!important}.stuck #logo img{max-height:64px!important}.search-form{width:61%}.header-bg-color,.header-wrapper{background-color:#fff}.header-bottom{background-color:#002c59}.header-wrapper:not(.stuck) .header-main .header-nav{margin-top:-1px}.stuck .header-main .nav>li>a{line-height:13px}.header-bottom-nav>li>a{line-height:16px}@media (max-width:549px){.header-main{height:126px}#logo img{max-height:126px}}.main-menu-overlay{background-color:#0066bf}.nav-dropdown-has-arrow li.has-dropdown:before{border-bottom-color:rgba(40,120,191,.83)}.nav .nav-dropdown{border-color:rgba(40,120,191,.83)}.nav-dropdown{font-size:92%}.header-top{background-color:#004a8c!important}.accordion-title.active,.has-icon-bg .icon .icon-inner,.logo a,.primary.is-underline,.primary.is-link,.badge-outline .badge-inner,.nav-outline>li.active>a,.nav-outline>li.active>a,.cart-icon strong,[data-color='primary'],.is-outline.primary{color:#1e73be}[data-text-color="primary"]{color:#1e73be!important}[data-text-bg="primary"]{background-color:#1e73be}.scroll-to-bullets a,.featured-title,.label-new.menu-item>a:after,.nav-pagination>li>.current,.nav-pagination>li>span:hover,.nav-pagination>li>a:hover,.has-hover:hover .badge-outline .badge-inner,button[type="submit"],.button.wc-forward:not(.checkout):not(.checkout-button),.button.submit-button,.button.primary:not(.is-outline),.featured-table .title,.is-outline:hover,.has-icon:hover .icon-label,.nav-dropdown-bold .nav-column li>a:hover,.nav-dropdown.nav-dropdown-bold>li>a:hover,.nav-dropdown-bold.dark .nav-column li>a:hover,.nav-dropdown.nav-dropdown-bold.dark>li>a:hover,.is-outline:hover,.tagcloud a:hover,.grid-tools a,input[type='submit']:not(.is-form),.box-badge:hover .box-text,input.button.alt,.nav-box>li>a:hover,.nav-box>li.active>a,.nav-pills>li.active>a,.current-dropdown .cart-icon strong,.cart-icon:hover strong,.nav-line-bottom>li>a:before,.nav-line-grow>li>a:before,.nav-line>li>a:before,.banner,.header-top,.slider-nav-circle .flickity-prev-next-button:hover svg,.slider-nav-circle .flickity-prev-next-button:hover .arrow,.primary.is-outline:hover,.button.primary:not(.is-outline),input[type='submit'].primary,input[type='submit'].primary,input[type='reset'].button,input[type='button'].primary,.badge-inner{background-color:#1e73be}.nav-vertical.nav-tabs>li.active>a,.scroll-to-bullets a.active,.nav-pagination>li>.current,.nav-pagination>li>span:hover,.nav-pagination>li>a:hover,.has-hover:hover .badge-outline .badge-inner,.accordion-title.active,.featured-table,.is-outline:hover,.tagcloud a:hover,blockquote,.has-border,.cart-icon strong:after,.cart-icon strong,.blockUI:before,.processing:before,.loading-spin,.slider-nav-circle .flickity-prev-next-button:hover svg,.slider-nav-circle .flickity-prev-next-button:hover .arrow,.primary.is-outline:hover{border-color:#1e73be}.nav-tabs>li.active>a{border-top-color:#1e73be}.widget_shopping_cart_content .blockUI.blockOverlay:before{border-left-color:#1e73be}.woocommerce-checkout-review-order .blockUI.blockOverlay:before{border-left-color:#1e73be}.slider .flickity-prev-next-button:hover svg,.slider .flickity-prev-next-button:hover .arrow{fill:#1e73be}[data-icon-label]:after,.secondary.is-underline:hover,.secondary.is-outline:hover,.icon-label,.button.secondary:not(.is-outline),.button.alt:not(.is-outline),.badge-inner.on-sale,.button.checkout,.single_add_to_cart_button,.current .breadcrumb-step{background-color:#d7102c}[data-text-bg="secondary"]{background-color:#d7102c}.secondary.is-underline,.secondary.is-link,.secondary.is-outline,.stars a.active,.star-rating:before,.woocommerce-page .star-rating:before,.star-rating span:before,.color-secondary{color:#d7102c}[data-text-color="secondary"]{color:#d7102c!important}.secondary.is-outline:hover{border-color:#d7102c}.success.is-underline:hover,.success.is-outline:hover,.success{background-color:#0f8cfa}.success-color,.success.is-link,.success.is-outline{color:#0f8cfa}.success-border{border-color:#0f8cfa!important}[data-text-color="success"]{color:#0f8cfa!important}[data-text-bg="success"]{background-color:#0f8cfa}body{font-size:102%}@media screen and (max-width:549px){body{font-size:100%}}body{font-family:"Roboto",sans-serif}body{font-weight:0}body{color:#3d3d3d}.nav>li>a{font-family:"Roboto",sans-serif}.nav>li>a{font-weight:500}h1,h2,h3,h4,h5,h6,.heading-font,.off-canvas-center .nav-sidebar.nav-vertical>li>a{font-family:"Roboto",sans-serif}h1,h2,h3,h4,h5,h6,.heading-font,.banner h1,.banner h2{font-weight:500}h1,h2,h3,h4,h5,h6,.heading-font{color:#0a0a0a}.breadcrumbs{text-transform:none}button,.button{text-transform:none}.nav>li>a,.links>li>a{text-transform:none}.section-title span{text-transform:none}h3.widget-title,span.widget-title{text-transform:none}.alt-font{font-family:"Dancing Script",sans-serif}.header:not(.transparent) .header-nav.nav>li>a{color:#024e90}.header:not(.transparent) .header-nav.nav>li>a:hover,.header:not(.transparent) .header-nav.nav>li.active>a,.header:not(.transparent) .header-nav.nav>li.current>a,.header:not(.transparent) .header-nav.nav>li>a.active,.header:not(.transparent) .header-nav.nav>li>a.current{color:#024e90}.header-nav.nav-line-bottom>li>a:before,.header-nav.nav-line-grow>li>a:before,.header-nav.nav-line>li>a:before,.header-nav.nav-box>li>a:hover,.header-nav.nav-box>li.active>a,.header-nav.nav-pills>li>a:hover,.header-nav.nav-pills>li.active>a{color:#FFF!important;background-color:#024e90}.header:not(.transparent) .header-bottom-nav.nav>li>a{color:#fff}.header:not(.transparent) .header-bottom-nav.nav>li>a:hover,.header:not(.transparent) .header-bottom-nav.nav>li.active>a,.header:not(.transparent) .header-bottom-nav.nav>li.current>a,.header:not(.transparent) .header-bottom-nav.nav>li>a.active,.header:not(.transparent) .header-bottom-nav.nav>li>a.current{color:#fff}.header-bottom-nav.nav-line-bottom>li>a:before,.header-bottom-nav.nav-line-grow>li>a:before,.header-bottom-nav.nav-line>li>a:before,.header-bottom-nav.nav-box>li>a:hover,.header-bottom-nav.nav-box>li.active>a,.header-bottom-nav.nav-pills>li>a:hover,.header-bottom-nav.nav-pills>li.active>a{color:#FFF!important;background-color:#fff}a{color:#024c8c}a:hover{color:#037fec}.tagcloud a:hover{border-color:#037fec;background-color:#037fec}.widget a{color:#bf162e}.widget a:hover{color:}.widget .tagcloud a:hover{border-color:;background-color:}.current .breadcrumb-step,[data-icon-label]:after,.button#place_order,.button.checkout,.checkout-button,.single_add_to_cart_button.button{background-color:#fdba14!important}.products.has-equal-box-heights .box-image{padding-top:100%}.badge-inner.on-sale{background-color:#fdba14}.footer-1{background-color:#001426}.footer-2{background-color:#001e72}.absolute-footer,html{background-color:#000}button[name='update_cart']{display:none}.gioi-thieu-dau-trang .row .col{padding-bottom:0}.gioi-thieu-dau-trang .row .col p{margin:0}.line-ngang{background:linear-gradient(45deg,#c33764,#1d2671)}.can-gi .row{background:#fff;border-top-left-radius:10px;border-top-right-radius:10px;border:1px solid #dedede}.label-new.menu-item>a:after{content:"New"}.label-hot.menu-item>a:after{content:"Hot"}.label-sale.menu-item>a:after{content:"Sale"}.label-popular.menu-item>a:after{content:"Popular"}</style>
                <style type="text/css" id="wp-custom-css">.rmp-widgets-container.rmp-wp-plugin.rmp-main-container .rmp-rating-widget__results,.rmp-widgets-container.rmp-wp-plugin.rmp-main-container .rmp-heading,.rmp-widgets-container.rmp-wp-plugin.rmp-main-container .rmp-rating-widget__msg,.rmp-widgets-container.rmp-wp-plugin.rmp-main-container .rmp-rating-widget__msg,.rmp-widgets-container.rmp-wp-plugin.rmp-main-container .rmp-rating-widget__not-rated{display:none}</style>
                <noscript>
                   <style id="rocket-lazyload-nojs-css">.rll-youtube-player,[data-lazy-src]{display:none!important}</style>
                </noscript>
             </head>
             <body data-rsssl=1 class="archive category category-tin-tuc category-1 full-width lightbox nav-dropdown-has-arrow parallax-mobile page-template-blank page-template-blank-php">
                <a class="skip-link screen-reader-text" href="#main">Skip to content</a>
                <div id="wrapper">
                    <%-include("./../common/Header.ejs");%>
                   <main id="main" class="">
                      <div id="content" class="blog-wrapper blog-archive page-wrapper">
                         <header class="archive-page-header">
                            <div class="row">
                               <div class="large-12 text-center col">
                                  <h1 class="page-title is-large uppercase"> Category Archives: <span>Tin tức</span></h1>
                               </div>
                            </div>
                         </header>
                         <div class="row row-large row-divided ">
                            <div class="large-9 col">
                               <div class="row large-columns-1 medium-columns- small-columns-1 has-shadow row-box-shadow-1 row-box-shadow-2-hover">
                                  <div class="col post-item" >
                                     <div class="col-inner">
                                        <a href="10-cach-giup-video-len-xu-huong-tik-tok/" class="plain">
                                           <div class="box box-vertical box-text-bottom box-blog-post has-hover">
                                              <div class="box-image" style="width:40%;">
                                                 <div class="image-cover" style="padding-top:56%;"> <img width="300" height="261" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20300%20261%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="wp-content/uploads/2020/04/tang-view-tik-tok-mien-phi-1-300x261.png" class="lazy-load attachment-medium size-medium wp-post-image" alt="Tăng View Tik Tok" srcset="" data-srcset="wp-content/uploads/2020/04/tang-view-tik-tok-mien-phi-1-300x261.png 300w, wp-content/uploads/2020/04/tang-view-tik-tok-mien-phi-1.png 396w" sizes="(max-width: 300px) 100vw, 300px" /></div>
                                              </div>
                                              <div class="box-text text-left" >
                                                 <div class="box-text-inner blog-post-inner">
                                                    <h5 class="post-title is-large ">10 Cách Giúp video Tik tok lên xu hướng kiếm triệu view</h5>
                                                    <div class="is-divider"></div>
                                                    <p class="from_the_blog_excerpt ">2019 trở lại đây Tiktok là cái tên được nhắc đến nhiều nhất, liên tiếp...</p>
                                                 </div>
                                              </div>
                                              <div class="badge absolute top post-date badge-circle">
                                                 <div class="badge-inner"> <span class="post-date-day">09</span><br> <span class="post-date-month is-xsmall">Th5</span></div>
                                              </div>
                                           </div>
                                        </a>
                                     </div>
                                  </div>
                                  <div class="col post-item" >
                                     <div class="col-inner">
                                        <a href="nen-mua-fanpage-co-san-hay-mua-like-cho-fanpage/" class="plain">
                                           <div class="box box-vertical box-text-bottom box-blog-post has-hover">
                                              <div class="box-image" style="width:40%;">
                                                 <div class="image-cover" style="padding-top:56%;"> <img width="200" height="161" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20200%20161%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="wp-content/uploads/2020/04/fbb2.png" class="lazy-load attachment-medium size-medium wp-post-image" alt="" /></div>
                                              </div>
                                              <div class="box-text text-left" >
                                                 <div class="box-text-inner blog-post-inner">
                                                    <h5 class="post-title is-large ">Nên Mua Fanpage Có Sẵn Hay Mua Like Cho Fanpage ?</h5>
                                                    <div class="is-divider"></div>
                                                    <p class="from_the_blog_excerpt ">Các bạn đang cần 1 fanpage nhiều like để kinh doanh bán hàng hiệu quả...</p>
                                                 </div>
                                              </div>
                                              <div class="badge absolute top post-date badge-circle">
                                                 <div class="badge-inner"> <span class="post-date-day">24</span><br> <span class="post-date-month is-xsmall">Th4</span></div>
                                              </div>
                                           </div>
                                        </a>
                                     </div>
                                  </div>
                                  <div class="col post-item" >
                                     <div class="col-inner">
                                        <a href="6-cach-hack-like-hack-view-hack-share-video-tik-tok-mien-phi-2020/" class="plain">
                                           <div class="box box-vertical box-text-bottom box-blog-post has-hover">
                                              <div class="box-image" style="width:40%;">
                                                 <div class="image-cover" style="padding-top:56%;"> <img width="300" height="300" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20300%20300%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="wp-content/uploads/2020/04/tt-sg-article-cover-80fce146c8739a73b19daab745dcd818-300x300.png" class="lazy-load attachment-medium size-medium wp-post-image" alt="Tích Xanh Tik Tok" srcset="" data-srcset="wp-content/uploads/2020/04/tt-sg-article-cover-80fce146c8739a73b19daab745dcd818-300x300.png 300w, wp-content/uploads/2020/04/tt-sg-article-cover-80fce146c8739a73b19daab745dcd818-150x150.png 150w, wp-content/uploads/2020/04/tt-sg-article-cover-80fce146c8739a73b19daab745dcd818.png 342w" sizes="(max-width: 300px) 100vw, 300px" /></div>
                                              </div>
                                              <div class="box-text text-left" >
                                                 <div class="box-text-inner blog-post-inner">
                                                    <h5 class="post-title is-large ">6 cách hack like, hack view, hack share video Tik Tok miễn phí 2020</h5>
                                                    <div class="is-divider"></div>
                                                    <p class="from_the_blog_excerpt ">Có phải điều các bạn đang mong muốn đó chính là: Tăng follow Tik Tok,...</p>
                                                 </div>
                                              </div>
                                              <div class="badge absolute top post-date badge-circle">
                                                 <div class="badge-inner"> <span class="post-date-day">21</span><br> <span class="post-date-month is-xsmall">Th4</span></div>
                                              </div>
                                           </div>
                                        </a>
                                     </div>
                                  </div>
                                  <div class="col post-item" >
                                     <div class="col-inner">
                                        <a href="5-cach-de-tang-like-nhanh-chong-tren-instargram-2020/" class="plain">
                                           <div class="box box-vertical box-text-bottom box-blog-post has-hover">
                                              <div class="box-image" style="width:40%;">
                                                 <div class="image-cover" style="padding-top:56%;"> <img width="300" height="225" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20300%20225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="wp-content/uploads/2020/02/hinh-300x225.jpg" class="lazy-load attachment-medium size-medium wp-post-image" alt="" srcset="" data-srcset="wp-content/uploads/2020/02/hinh-300x225.jpg 300w, wp-content/uploads/2020/02/hinh.jpg 480w" sizes="(max-width: 300px) 100vw, 300px" /></div>
                                              </div>
                                              <div class="box-text text-left" >
                                                 <div class="box-text-inner blog-post-inner">
                                                    <h5 class="post-title is-large ">5 cách để tăng like nhanh chóng trên instargram 2020</h5>
                                                    <div class="is-divider"></div>
                                                    <p class="from_the_blog_excerpt ">Bài viết này nhằm mục đích chia sẻ cách tăng  like instargram mà không mất phí,...</p>
                                                 </div>
                                              </div>
                                              <div class="badge absolute top post-date badge-circle">
                                                 <div class="badge-inner"> <span class="post-date-day">22</span><br> <span class="post-date-month is-xsmall">Th2</span></div>
                                              </div>
                                           </div>
                                        </a>
                                     </div>
                                  </div>
                                  <div class="col post-item" >
                                     <div class="col-inner">
                                        <a href="dung-mo-ban-hang-tren-facebook-ca-nhan-hieu-qua-neu-mac-8-sai-lam-nay/" class="plain">
                                           <div class="box box-vertical box-text-bottom box-blog-post has-hover">
                                              <div class="box-image" style="width:40%;">
                                                 <div class="image-cover" style="padding-top:56%;"> <img width="300" height="124" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20300%20124%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="wp-content/uploads/2020/02/dung-mo-ban-hang-tren-face-book-ca-nhan-hieu-qua-neu-mac-phai-nhung-sai-lam-nay-1-300x124.jpg" class="lazy-load attachment-medium size-medium wp-post-image" alt="" srcset="" data-srcset="wp-content/uploads/2020/02/dung-mo-ban-hang-tren-face-book-ca-nhan-hieu-qua-neu-mac-phai-nhung-sai-lam-nay-1-300x124.jpg 300w, wp-content/uploads/2020/02/dung-mo-ban-hang-tren-face-book-ca-nhan-hieu-qua-neu-mac-phai-nhung-sai-lam-nay-1-768x317.jpg 768w, wp-content/uploads/2020/02/dung-mo-ban-hang-tren-face-book-ca-nhan-hieu-qua-neu-mac-phai-nhung-sai-lam-nay-1.jpg 800w" sizes="(max-width: 300px) 100vw, 300px" /></div>
                                              </div>
                                              <div class="box-text text-left" >
                                                 <div class="box-text-inner blog-post-inner">
                                                    <h5 class="post-title is-large ">Đừng mơ bán hàng trên Facebook cá nhân hiệu quả nếu mắc 8 sai lầm này</h5>
                                                    <div class="is-divider"></div>
                                                    <p class="from_the_blog_excerpt ">Một trong những cách bán hàng online hiệu quả hiện nay đó là bán hàng...</p>
                                                 </div>
                                              </div>
                                              <div class="badge absolute top post-date badge-circle">
                                                 <div class="badge-inner"> <span class="post-date-day">11</span><br> <span class="post-date-month is-xsmall">Th2</span></div>
                                              </div>
                                           </div>
                                        </a>
                                     </div>
                                  </div>
                                  <div class="col post-item" >
                                     <div class="col-inner">
                                        <a href="muon-livestream-ban-quan-ao-dep-va-hieu-qua-dung-bo-qua-bi-quyet-nay/" class="plain">
                                           <div class="box box-vertical box-text-bottom box-blog-post has-hover">
                                              <div class="box-image" style="width:40%;">
                                                 <div class="image-cover" style="padding-top:56%;"> <img width="300" height="200" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20300%20200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="wp-content/uploads/2020/02/cach-live-stream-ban-quan-ao-hieu-qua-1-1-300x200.jpg" class="lazy-load attachment-medium size-medium wp-post-image" alt="" srcset="" data-srcset="wp-content/uploads/2020/02/cach-live-stream-ban-quan-ao-hieu-qua-1-1-300x200.jpg 300w, wp-content/uploads/2020/02/cach-live-stream-ban-quan-ao-hieu-qua-1-1.jpg 640w" sizes="(max-width: 300px) 100vw, 300px" /></div>
                                              </div>
                                              <div class="box-text text-left" >
                                                 <div class="box-text-inner blog-post-inner">
                                                    <h5 class="post-title is-large ">Muốn livestream bán quần áo đẹp và hiệu quả, đừng bỏ qua bí quyết này</h5>
                                                    <div class="is-divider"></div>
                                                    <p class="from_the_blog_excerpt ">Livestream bán hàng không khó, nhưng kỹ năng livestream trên Facebook đẹp và cách live...</p>
                                                 </div>
                                              </div>
                                              <div class="badge absolute top post-date badge-circle">
                                                 <div class="badge-inner"> <span class="post-date-day">11</span><br> <span class="post-date-month is-xsmall">Th2</span></div>
                                              </div>
                                           </div>
                                        </a>
                                     </div>
                                  </div>
                                  <div class="col post-item" >
                                     <div class="col-inner">
                                        <a href="huong-dan-chi-tiet-cach-live-stream-tren-shopee-kiem-tram-don-moi-ngay/" class="plain">
                                           <div class="box box-vertical box-text-bottom box-blog-post has-hover">
                                              <div class="box-image" style="width:40%;">
                                                 <div class="image-cover" style="padding-top:56%;"> <img width="300" height="187" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20300%20187%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="wp-content/uploads/2020/02/cach-live-stream-tren-shopee-2-300x187.jpg" class="lazy-load attachment-medium size-medium wp-post-image" alt="" srcset="" data-srcset="wp-content/uploads/2020/02/cach-live-stream-tren-shopee-2-300x187.jpg 300w, wp-content/uploads/2020/02/cach-live-stream-tren-shopee-2.jpg 600w" sizes="(max-width: 300px) 100vw, 300px" /></div>
                                              </div>
                                              <div class="box-text text-left" >
                                                 <div class="box-text-inner blog-post-inner">
                                                    <h5 class="post-title is-large ">Hướng dẫn chi tiết cách live stream trên Shopee kiếm trăm đơn mỗi ngày</h5>
                                                    <div class="is-divider"></div>
                                                    <p class="from_the_blog_excerpt ">Shopee Live là gì? Livestream trên Shopee có lợi ích gì? Làm thế nào để...</p>
                                                 </div>
                                              </div>
                                              <div class="badge absolute top post-date badge-circle">
                                                 <div class="badge-inner"> <span class="post-date-day">11</span><br> <span class="post-date-month is-xsmall">Th2</span></div>
                                              </div>
                                           </div>
                                        </a>
                                     </div>
                                  </div>
                                  <div class="col post-item" >
                                     <div class="col-inner">
                                        <a href="huong-dan-5-cach-kiem-tien-tren-instagram-nhanh-va-de-lam/" class="plain">
                                           <div class="box box-vertical box-text-bottom box-blog-post has-hover">
                                              <div class="box-image" style="width:40%;">
                                                 <div class="image-cover" style="padding-top:56%;"> <img width="300" height="200" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20300%20200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="wp-content/uploads/2020/02/cach-kiem-tien-tren-instagram-1-300x200.jpg" class="lazy-load attachment-medium size-medium wp-post-image" alt="" srcset="" data-srcset="wp-content/uploads/2020/02/cach-kiem-tien-tren-instagram-1-300x200.jpg 300w, wp-content/uploads/2020/02/cach-kiem-tien-tren-instagram-1-1024x682.jpg 1024w, wp-content/uploads/2020/02/cach-kiem-tien-tren-instagram-1-768x512.jpg 768w, wp-content/uploads/2020/02/cach-kiem-tien-tren-instagram-1.jpg 1280w" sizes="(max-width: 300px) 100vw, 300px" /></div>
                                              </div>
                                              <div class="box-text text-left" >
                                                 <div class="box-text-inner blog-post-inner">
                                                    <h5 class="post-title is-large ">Hướng dẫn 5 cách kiếm tiền trên Instagram nhanh và dễ làm</h5>
                                                    <div class="is-divider"></div>
                                                    <p class="from_the_blog_excerpt ">Làm thế nào để kiếm tiền online trên Instagram? Cách kiếm tiền trên Instagram nào...</p>
                                                 </div>
                                              </div>
                                              <div class="badge absolute top post-date badge-circle">
                                                 <div class="badge-inner"> <span class="post-date-day">11</span><br> <span class="post-date-month is-xsmall">Th2</span></div>
                                              </div>
                                           </div>
                                        </a>
                                     </div>
                                  </div>
                                  <div class="col post-item" >
                                     <div class="col-inner">
                                        <a href="huong-dan-chi-tiet-cach-chay-quang-cao-tren-instagram-hieu-qua/" class="plain">
                                           <div class="box box-vertical box-text-bottom box-blog-post has-hover">
                                              <div class="box-image" style="width:40%;">
                                                 <div class="image-cover" style="padding-top:56%;"> <img width="158" height="300" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20158%20300%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="wp-content/uploads/2020/02/quang-cao-hinh-anh-tren-instagram-158x300.jpg" class="lazy-load attachment-medium size-medium wp-post-image" alt="" srcset="" data-srcset="wp-content/uploads/2020/02/quang-cao-hinh-anh-tren-instagram-158x300.jpg 158w, wp-content/uploads/2020/02/quang-cao-hinh-anh-tren-instagram-540x1024.jpg 540w, wp-content/uploads/2020/02/quang-cao-hinh-anh-tren-instagram.jpg 640w" sizes="(max-width: 158px) 100vw, 158px" /></div>
                                              </div>
                                              <div class="box-text text-left" >
                                                 <div class="box-text-inner blog-post-inner">
                                                    <h5 class="post-title is-large ">Hướng dẫn chi tiết cách chạy quảng cáo trên Instagram hiệu quả</h5>
                                                    <div class="is-divider"></div>
                                                    <p class="from_the_blog_excerpt ">Vì sao nên chọn quảng cáo Instagram? Quảng cáo trên Instagram có hiệu quả không? Chắc...</p>
                                                 </div>
                                              </div>
                                              <div class="badge absolute top post-date badge-circle">
                                                 <div class="badge-inner"> <span class="post-date-day">11</span><br> <span class="post-date-month is-xsmall">Th2</span></div>
                                              </div>
                                           </div>
                                        </a>
                                     </div>
                                  </div>
                                  <div class="col post-item" >
                                     <div class="col-inner">
                                        <a href="live-stream-la-gi-huong-dan-cach-live-stream-tren-facebook-don-gian/" class="plain">
                                           <div class="box box-vertical box-text-bottom box-blog-post has-hover">
                                              <div class="box-image" style="width:40%;">
                                                 <div class="image-cover" style="padding-top:56%;"> <img width="300" height="200" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20300%20200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="wp-content/uploads/2020/02/kinh-nghiem-livestream-ban-hang-quan-ao-3-300x200.jpg" class="lazy-load attachment-medium size-medium wp-post-image" alt="" srcset="" data-srcset="wp-content/uploads/2020/02/kinh-nghiem-livestream-ban-hang-quan-ao-3-300x200.jpg 300w, wp-content/uploads/2020/02/kinh-nghiem-livestream-ban-hang-quan-ao-3.jpg 600w" sizes="(max-width: 300px) 100vw, 300px" /></div>
                                              </div>
                                              <div class="box-text text-left" >
                                                 <div class="box-text-inner blog-post-inner">
                                                    <h5 class="post-title is-large ">Live stream là gì? Hướng dẫn cách live stream trên Facebook đơn giản</h5>
                                                    <div class="is-divider"></div>
                                                    <p class="from_the_blog_excerpt ">Live stream là gì? Cách live stream trên Facebook như thế nào? Đọc ngay bài viết...</p>
                                                 </div>
                                              </div>
                                              <div class="badge absolute top post-date badge-circle">
                                                 <div class="badge-inner"> <span class="post-date-day">11</span><br> <span class="post-date-month is-xsmall">Th2</span></div>
                                              </div>
                                           </div>
                                        </a>
                                     </div>
                                  </div>
                               </div>
                               <ul class="page-numbers nav-pagination links text-center">
                                  <li><span aria-current="page" class="page-number current">1</span></li>
                                  <li><a class="page-number" href="chuyen-muc/tin-tuc/page/2/">2</a></li>
                                  <li><a class="page-number" href="chuyen-muc/tin-tuc/page/3/">3</a></li>
                                  <li><a class="page-number" href="chuyen-muc/tin-tuc/page/4/">4</a></li>
                                  <li><a class="page-number" href="chuyen-muc/tin-tuc/page/5/">5</a></li>
                                  <li><a class="next page-number" href="chuyen-muc/tin-tuc/page/2/"><i class="icon-angle-right" ></i></a></li>
                               </ul>
                            </div>
                            <div class="post-sidebar large-3 col">
                               <div id="secondary" class="widget-area " role="complementary">
                                  <aside id="search-2" class="widget widget_search">
                                     <form method="get" class="searchform" action="" role="search">
                                        <div class="flex-row relative">
                                           <div class="flex-col flex-grow"> <input type="search" class="search-field mb-0" name="s" value="" id="s" placeholder="Tìm kiếm..." /></div>
                                           <div class="flex-col"> <button type="submit" class="ux-search-submit submit-button secondary button icon mb-0" aria-label="Submit"> <i class="icon-search" ></i> </button></div>
                                        </div>
                                        <div class="live-search-results text-left z-top"></div>
                                     </form>
                                  </aside>
                                  <aside id="recent-posts-2" class="widget widget_recent_entries">
                                     <span class="widget-title "><span>Bài viết mới</span></span>
                                     <div class="is-divider small"></div>
                                     <ul>
                                        <li> <a href="4-buoc-cach-tai-video-tik-tok-khong-co-logo-va-id/">4 Bước Cách tải video Tik Tok không có logo và ID</a></li>
                                        <li> <a href="10-cach-giup-video-len-xu-huong-tik-tok/">10 Cách Giúp video Tik tok lên xu hướng kiếm triệu view</a></li>
                                        <li> <a href="nen-mua-fanpage-co-san-hay-mua-like-cho-fanpage/">Nên Mua Fanpage Có Sẵn Hay Mua Like Cho Fanpage ?</a></li>
                                        <li> <a href="6-cach-hack-like-hack-view-hack-share-video-tik-tok-mien-phi-2020/">6 cách hack like, hack view, hack share video Tik Tok miễn phí 2020</a></li>
                                        <li> <a href="5-cach-de-tang-like-nhanh-chong-tren-instargram-2020/">5 cách để tăng like nhanh chóng trên instargram 2020</a></li>
                                     </ul>
                                  </aside>
                                  <aside id="recent-comments-2" class="widget widget_recent_comments">
                                     <span class="widget-title "><span>Phản hồi gần đây</span></span>
                                     <div class="is-divider small"></div>
                                     <ul id="recentcomments"></ul>
                                  </aside>
                               </div>
                            </div>
                         </div>
                      </div>
                   </main>
                   <%-include("./../common/Footer.ejs")%>
                </div>
                <div id="arcontactus"></div>
                <style type="text/css">.saboxplugin-wrap{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;border:1px solid #eee;width:100%;clear:both;display:block;overflow:hidden;word-wrap:break-word;position:relative}.saboxplugin-wrap .saboxplugin-gravatar{float:left;padding:20px}.saboxplugin-wrap .saboxplugin-gravatar img{max-width:100px;height:auto;border-radius:0}.saboxplugin-wrap .saboxplugin-authorname{font-size:18px;line-height:1;margin:20px 0 0 20px;display:block}.saboxplugin-wrap .saboxplugin-authorname a{text-decoration:none}.saboxplugin-wrap .saboxplugin-authorname a:focus{outline:0}.saboxplugin-wrap .saboxplugin-desc{display:block;margin:5px 20px}.saboxplugin-wrap .saboxplugin-desc a{text-decoration:underline}.saboxplugin-wrap .saboxplugin-desc p{margin:5px 0 12px}.saboxplugin-wrap .saboxplugin-web{margin:0 20px 15px;text-align:left}.saboxplugin-wrap .sab-web-position{text-align:right}.saboxplugin-wrap .saboxplugin-web a{color:#ccc;text-decoration:none}.saboxplugin-wrap .saboxplugin-socials{position:relative;display:block;background:#fcfcfc;padding:5px;border-top:1px solid #eee}.saboxplugin-wrap .saboxplugin-socials a svg{width:20px;height:20px}.saboxplugin-wrap .saboxplugin-socials a svg .st2{fill:#fff;transform-origin:center center}.saboxplugin-wrap .saboxplugin-socials a svg .st1{fill:rgba(0,0,0,.3)}.saboxplugin-wrap .saboxplugin-socials a:hover{opacity:.8;-webkit-transition:opacity .4s;-moz-transition:opacity .4s;-o-transition:opacity .4s;transition:opacity .4s;box-shadow:none!important;-webkit-box-shadow:none!important}.saboxplugin-wrap .saboxplugin-socials .saboxplugin-icon-color{box-shadow:none;padding:0;border:0;-webkit-transition:opacity .4s;-moz-transition:opacity .4s;-o-transition:opacity .4s;transition:opacity .4s;display:inline-block;color:#fff;font-size:0;text-decoration:inherit;margin:5px;-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0;overflow:hidden}.saboxplugin-wrap .saboxplugin-socials .saboxplugin-icon-grey{text-decoration:inherit;box-shadow:none;position:relative;display:-moz-inline-stack;display:inline-block;vertical-align:middle;zoom:1;margin:10px 5px;color:#444;fill:#444}.clearfix:after,.clearfix:before{content:' ';display:table;line-height:0;clear:both}.ie7 .clearfix{zoom:1}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-twitch{border-color:#38245c}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-addthis{border-color:#e91c00}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-behance{border-color:#003eb0}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-delicious{border-color:#06c}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-deviantart{border-color:#036824}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-digg{border-color:#00327c}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-dribbble{border-color:#ba1655}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-facebook{border-color:#1e2e4f}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-flickr{border-color:#003576}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-github{border-color:#264874}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-google{border-color:#0b51c5}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-googleplus{border-color:#96271a}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-html5{border-color:#902e13}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-instagram{border-color:#1630aa}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-linkedin{border-color:#00344f}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-pinterest{border-color:#5b040e}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-reddit{border-color:#992900}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-rss{border-color:#a43b0a}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-sharethis{border-color:#5d8420}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-skype{border-color:#00658a}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-soundcloud{border-color:#995200}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-spotify{border-color:#0f612c}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-stackoverflow{border-color:#a95009}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-steam{border-color:#006388}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-user_email{border-color:#b84e05}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-stumbleUpon{border-color:#9b280e}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-tumblr{border-color:#10151b}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-twitter{border-color:#0967a0}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-vimeo{border-color:#0d7091}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-windows{border-color:#003f71}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-whatsapp{border-color:#003f71}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-wordpress{border-color:#0f3647}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-yahoo{border-color:#14002d}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-youtube{border-color:#900}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-xing{border-color:#000202}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-mixcloud{border-color:#2475a0}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-vk{border-color:#243549}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-medium{border-color:#00452c}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-quora{border-color:#420e00}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-meetup{border-color:#9b181c}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-goodreads{border-color:#000}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-snapchat{border-color:#999700}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-500px{border-color:#00557f}.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-mastodont{border-color:#185886}.sabox-plus-item{margin-bottom:20px}@media screen and (max-width:480px){.saboxplugin-wrap{text-align:center}.saboxplugin-wrap .saboxplugin-gravatar{float:none;padding:20px 0;text-align:center;margin:0 auto;display:block}.saboxplugin-wrap .saboxplugin-gravatar img{float:none;display:inline-block;display:-moz-inline-stack;vertical-align:middle;zoom:1}.saboxplugin-wrap .saboxplugin-desc{margin:0 10px 20px;text-align:center}.saboxplugin-wrap .saboxplugin-authorname{text-align:center;margin:10px 0 20px}}body .saboxplugin-authorname a,body .saboxplugin-authorname a:hover{box-shadow:none;-webkit-box-shadow:none}a.sab-profile-edit{font-size:16px!important;line-height:1!important}.sab-edit-settings a,a.sab-profile-edit{color:#0073aa!important;box-shadow:none!important;-webkit-box-shadow:none!important}.sab-edit-settings{margin-right:15px;position:absolute;right:0;z-index:2;bottom:10px;line-height:20px}.sab-edit-settings i{margin-left:5px}.saboxplugin-socials{line-height:1!important}.rtl .saboxplugin-wrap .saboxplugin-gravatar{float:right}.rtl .saboxplugin-wrap .saboxplugin-authorname{display:flex;align-items:center}.rtl .saboxplugin-wrap .saboxplugin-authorname .sab-profile-edit{margin-right:10px}.rtl .sab-edit-settings{right:auto;left:0}img.sab-custom-avatar{max-width:75px}.saboxplugin-wrap{border-color:#1e73be}.saboxplugin-wrap .saboxplugin-socials{border-color:#1e73be}.saboxplugin-wrap .saboxplugin-gravatar img{-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%}.saboxplugin-wrap .saboxplugin-socials .saboxplugin-icon-color{-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%}.saboxplugin-wrap .saboxplugin-socials .saboxplugin-icon-color{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}.saboxplugin-wrap .saboxplugin-socials .saboxplugin-icon-color:hover,.saboxplugin-wrap .saboxplugin-socials .saboxplugin-icon-grey:hover{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}.saboxplugin-wrap .saboxplugin-socials .saboxplugin-icon-color svg{border-width:1px;border-style:solid;border-radius:50%}.saboxplugin-wrap{background-color:#b0e8e4}.saboxplugin-wrap{margin-top:30px;margin-bottom:0;padding:0 0}.saboxplugin-wrap .saboxplugin-authorname{font-size:18px;line-height:25px}.saboxplugin-wrap .saboxplugin-desc p,.saboxplugin-wrap .saboxplugin-desc{font-size:14px!important;line-height:21px!important}.saboxplugin-wrap .saboxplugin-web{font-size:14px}.saboxplugin-wrap .saboxplugin-socials a svg{width:36px;height:36px}</style>
                <script type='text/javascript'>/* <![CDATA[ */ var flatsomeVars = {"ajaxurl":"https:\/\/ezmedia.vn\/wp-admin\/admin-ajax.php","rtl":"","sticky_height":"64","lightbox":{"close_markup":"<button title=\"%title%\" type=\"button\" class=\"mfp-close\"><svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" width=\"28\" height=\"28\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"feather feather-x\"><line x1=\"18\" y1=\"6\" x2=\"6\" y2=\"18\"><\/line><line x1=\"6\" y1=\"6\" x2=\"18\" y2=\"18\"><\/line><\/svg><\/button>","close_btn_inside":false},"user":{"can_edit_pages":false}}; /* ]]> */</script>      <script>window.lazyLoadOptions={elements_selector:"img[data-lazy-src],.rocket-lazyload,iframe[data-lazy-src]",data_src:"lazy-src",data_srcset:"lazy-srcset",data_sizes:"lazy-sizes",class_loading:"lazyloading",class_loaded:"lazyloaded",threshold:300,callback_loaded:function(element){if(element.tagName==="IFRAME"&&element.dataset.rocketLazyload=="fitvidscompatible"){if(element.classList.contains("lazyloaded")){if(typeof window.jQuery!="undefined"){if(jQuery.fn.fitVids){jQuery(element).parent().fitVids()}}}}}};window.addEventListener('LazyLoad::Initialized',function(e){var lazyLoadInstance=e.detail.instance;if(window.MutationObserver){var observer=new MutationObserver(function(mutations){var image_count=0;var iframe_count=0;var rocketlazy_count=0;mutations.forEach(function(mutation){for(i=0;i<mutation.addedNodes.length;i++){if(typeof mutation.addedNodes[i].getElementsByTagName!=='function'){return}
                   if(typeof mutation.addedNodes[i].getElementsByClassName!=='function'){return}
                   images=mutation.addedNodes[i].getElementsByTagName('img');is_image=mutation.addedNodes[i].tagName=="IMG";iframes=mutation.addedNodes[i].getElementsByTagName('iframe');is_iframe=mutation.addedNodes[i].tagName=="IFRAME";rocket_lazy=mutation.addedNodes[i].getElementsByClassName('rocket-lazyload');image_count+=images.length;iframe_count+=iframes.length;rocketlazy_count+=rocket_lazy.length;if(is_image){image_count+=1}
                   if(is_iframe){iframe_count+=1}}});if(image_count>0||iframe_count>0||rocketlazy_count>0){lazyLoadInstance.update()}});var b=document.getElementsByTagName("body")[0];var config={childList:!0,subtree:!0};observer.observe(b,config)}},!1)
                </script><script data-no-minify="1" async src="wp-content/plugins/wp-rocket/assets/js/lazyload/12.0/lazyload.min.js"></script> <script src="wp-content/cache/min/1/63c68f64d910bce4fcf68485cf7cdfdf.js" data-minify="1" defer></script>
             </body>
          </html>
          <!-- This website is like a Rocket, isn't it? Performance optimized by WP Rocket. Learn more: https://wp-rocket.me - Debug: cached@1591251366 -->